<div class="first-container">
  <div class="container">
    <div class="text">Contactez l'équipe DarkOm</div>
    <form action="#">
      <div class="form-row">
        <div class="input-data">
          <input type="text" required >
          <div class="underline"></div>
          <label >Nom </label>
        </div>
        <div class="input-data">
          <input type="text" required >
          <div class="underline"></div>
          <label >Prénom</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data">
          <input type="text" required >
          <div class="underline"></div>
          <label >E-mail </label>
        </div>
        <div class="input-data">
          <input type="text" required>
          <div class="underline"></div>
          <label >Téléphone</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data textarea">
          <textarea rows="8" cols="80" required ></textarea>
          <br />
          <div class="underline"></div>
          <label >Message</label>
          <br />
          <div class="form-row submit-btn">
            <div class="input-data">
              <div class="inner"></div>
              <input type="submit" value="Envoyer">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer ></app-footer>